*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
body{
    background-image: radial-gradient(circle at -18.3% 31.7%, #6f6d6b 0, #4b5962 25%, #1f4459 50%, #003050 75%, #001e49 100%);
}
h1{
    background: #F0F0F0;
    background: linear-gradient(to right, #F0F0F0 0%, #F7F7F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

}
    
h3{
    margin-left: 20px;
    font-size: 2em;
    font-family: monospace;
    font-weight: 200;
    background: #F0F0F0;
    background: linear-gradient(to right, #F0F0F0 0%, #F7F7F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.table{
    width: 80%;
   
}

